<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<h2>Exibindo app-first-component</h2>
    <p>Hobies: {{hobbies[1]}}<p>
    <p>Moto: {{moto.marca}} - Ano: {{moto.ano}}</p>
</body>
</html>

<!-- 

<h3>
    Nome: {{name}}
    Idade: {{age}}
    Sobrenome: {{sobrenome}}
</h3>

<div class="blackBar">Preto</div>

<ol>
    <li>primeiro item</li>
    <li>segundo item</li>
    <li>terceiro item</li>
</ol>


<a href="https://www.linkedin.com/in/pablo-pacheco-5b8035151/">@pablopacheco</a> -->

